set timeout=1  # Set timeout before automatically booting
set default=0  # Set the default menu option

menuentry "Sandbox OS" {
    multiboot /boot/kernel

    module /modules/test1 test1
    module /modules/test2 test2
    module /modules/test3 test3
}
